<% content_for :title, 'Dashboard' %>

<div class="flex flex-wrap gap-y-6 -mx-3">
  <div class="w-1/3 px-3">
    <%= render 'tile' do %>
      <h2 class="text-xl font-medium text-center mb-4">Usage</h2>
      <div class="text-right">
        <span class="text-4xl font-medium"><%= @favourite_count %></span> favourites<br>
      </div>
    <% end %>
  </div>

  <div class="w-1/3 px-3">
    <%= render 'tile' do %>
      <h2 class="text-xl font-medium text-center mb-4">Breadth</h2>
      <div class="text-right">
        <span class="text-4xl font-medium"><%= @active_user_count %></span> active users<br>
      </div>
    <% end %>
  </div>

  <div class="w-1/3 px-3">
    <%= render 'tile' do %>
      <h2 class="text-xl font-medium text-center mb-4">Depth</h2>
      <div class="text-right">
        <span class="font-medium text-4xl"><%= @favourite_count_average.round(1) %></span> favorites / user<br>
      </div>
    <% end %>
  </div>

  <div class="w-1/3 px-3">
    <%= render 'tile' do %>
      <h2 class="text-xl font-medium text-center mb-4">Returning users</h2>
      <%= pie_chart @returning_user_data, height: '140px', colors: ['#ae1795', '#475569'], legend: 'right', library: { borderWidth: 0 } %>
    <% end %>
  </div>

  <div class="w-1/4 px-3">
    <%= render 'tile' do %>
      <div class="text-right">
        <h2 class="text-xl font-medium text-center mb-4">Events</h2>
        <span class="font-medium text-4xl"><%= @event_count %></span> events<br>
        <span class="font-medium text-4xl text-slate-400"><%= @event_favourite_count_average.round(1) %></span> favorites / event<br>
        <span class="font-medium text-4xl text-slate-400"><%= @event_favourite_coverage.round(1) %>%</span> events favourited<br>
      </div>
    <% end %>
  </div>

  <div class="w-1/4 px-3">
    <%= render 'tile' do %>
      <div class="text-right">
        <h2 class="text-xl font-medium text-center mb-4">Tracks</h2>
        <span class="font-medium text-4xl"><%= @track_count %></span> tracks<br>
        <span class="font-medium text-4xl text-slate-400"><%= @track_favourite_count_average.round(1) %></span> favorites / track<br>
      </div>
    <% end %>
  </div>

  <div class="w-1/2 px-3">
    <%= render 'tile' do %>
      <h2 class="text-xl font-medium text-center mb-4">User favourite histogram</h2>
      <%= bar_chart @favourite_histogram_data, height: '480px', colors: ['#475569'], library: { barPercentage: 1, categoryPercentage: 1, borderSkipped: true, inflateAmount: 0, scales: { x: { reverse: true } }, y: { type: 'linear', ticks: { maxTicksLimit: @favourite_histogram_data.length / 10 + 1, stepSize: 10 } } } %>
    <% end %>
  </div>

  <div class="w-1/2 px-3">
    <%= render 'tile' do %>
      <h2 class="text-xl font-medium text-center mb-4">Event favourite histogram</h2>
      <%= bar_chart @events_histogram_data, height: '480px', colors: ['#475569'], library: { barPercentage: 1, categoryPercentage: 1, borderSkipped: true, inflateAmount: 0, scales: { x: { reverse: true } }, y: { type: 'linear', ticks: { maxTicksLimit: @events_histogram_data.length / 10 + 1, stepSize: 10 } } } %>
    <% end %>
  </div>
</div>


