<nav class="bg-gray-800">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="flex items-center">
        <div>
          <div class="flex items-baseline space-x-4">
            <%= navbar_link "Dashboard", root_path %>
            <%= navbar_link "Events", events_path %>
          </div>
        </div>
      </div>

      <div>
        <span class="mr-2 text-gray-300">Conference</span>
        <%= render "dropdown", title: "FOSDEM 2023" do %>
          <%= dropdown_link "FOSDEM 2023" %>
          <%= dropdown_link "FOSDEM 2022" %>
          <%= dropdown_link "FOSDEM 2021" %>
          <%= dropdown_link "FOSDEM 2020" %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
