<!DOCTYPE html>
<html class="h-full bg-gray-100">
  <head>
    <title>Sojourner Backoffice</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full">
    <div class="min-h-full">
      <nav class="bg-gray-800">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
          <div class="flex h-16 items-center justify-between">
            <%= yield :navbar %>
          </div>
        </div>
      </nav>

      <%= content_for?(:content) ? yield(:content) : yield %>
    </div>
  </body>
</html>
