<% content_for :navbar do %>
  <div class="flex items-center">
    <div>
      <div class="flex items-baseline space-x-2 md:space-x-4">
        <%= navbar_link "Go to Sojourner", 'https://sojourner.rocks' %>
      </div>
    </div>
  </div>

  <%= render "conferences_dropdown", title: 'ALL', conferences: @conferences %>
<% end %>

<% content_for :content do %>
  <header class="bg-white shadow">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold tracking-tight text-gray-900"><%= yield :title %></h1>
    </div>
  </header>

  <main>
    <div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8">
      <%= yield %>
    </div>
  </main>
<% end %>

<%= render template: turbo_frame_request? ? "layouts/turbo_rails/frame" : "layouts/application" %>
